@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap);

/* font: font-style font-variant font-weight font-size/line-height font-family */

* {
  color: #3a5485;
  font: 16px/1.5em 'Noto Serif KR', serif;
  margin: 0;
  padding: 0;
}

a,
figcaption,
img,
span,
strong,
video {
  display: inline-block
}

a {
  text-decoration: none;
}

img {
  font-size: 0;
}
