@import url(common.css);

/* font: font-style font-variant font-weight font-size/line-height font-family */
::-webkit-scrollbar {
  /* display: none; */
}

body {
  /* overflow: hidden; */
}

#wrapper {
  height: 100vh;
  width: 100%;
}

/* page0 */
.page0 {
  height: 200vh;
  position: relative;
  width: 100%;
}

.page0 a {
  background: #fff;
  right: 10%;
  padding: 40px;
  position: fixed;
  top: -300px;
  transition: .5s;
  z-index: 10;
}

.page0 a h1 {
  height: 200px;
  position: relative;
  width: 500px;
}

.page0 a h1 span {
  border: 1px solid #3a5485;
  left: 0;
  padding: 10px 5px;
  position: absolute;
  top: 0;
}

.page0 a h1 span img {
  width: 100%;
}

.page0 a h1 strong {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.5em;
  right: 0;
  position: absolute; 
  bottom: 0;
  white-space: pre;
}

.page0 .vid-container {
  left: 50%;
  margin: 0 auto;
  position: fixed;
  top: 40px;
  transform: translateX(-50%);
  width: 1728px;
}

.page0 video {
  width: 100%;
}

.page0 .scroll {
  bottom: 50px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%)  ;
}

#container {
  /* height: 100vh; */
  margin: 0 auto;
  position: relative;
  width: 90%;
}

/* ------------------------------ header -------------------------- */
header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

header.fixed{
  position: fixed;
  top: 0;
  width: 90%
}

header a h1 {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  font-weight: 600;
}

header a h1 span{
  background: #fff;
  border: 1px solid #3a5485;
  margin-right: 10px;
  padding: 5px 0;
}

header a h1 img {
  transform: scale(.8);
  width: 100%;
}

header .page-title {
  font-size: 1.2em;
  transform: translateY(100%);
  transition: 1s;
}

header .page-title.active{
  transform: translateY(0);  
}

/* ------------------------------ page1 -------------------------- */
.page1 {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page1 h2 {
  border: 1px solid #3a5485;
  left: 50%;
  margin-top: 50px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.page1 h2.visible {
  margin-top: 0;
  opacity: 1;
}

.page1 h2.non-visible {
  display: none
}

.page1 h2 a {
  font-size: 2em;
  padding: 50px 120px;
}

.page1 h2 a:hover {
  background: #3a5485;
  border: 1px solid #fff;
  color: #fff;
}

.page1 h2 a:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.page1 h2 a:hover:after {
  border: 1px solid #fff;
}

.page1 .index {
  align-items: center;
  display: flex;
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
  width: 100%;
}

.page1 .index.active {
  display: flex;
}

.page1 .index a {
  overflow: hidden;
  position: relative;
  width: 30%;
}

.page1 .index a img {
  height: 100%;
}

.page1 .index a:after {
  background: rgba(255, 255, 255, .4);
  content: '';
  /* display: none; */
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 100%;
}

.page1 .index a:hover:after {
  opacity: 1
}

.page1 .index a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  /* display: none; */
  font-size: 1.2em;
  left: 50%;
  opacity: 0;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 350px;
  z-index: 1;
}

.page1 .index a:hover figcaption {
  opacity: 1;
}

.page1 .index a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

/* ------------------------------ page1 popup -------------------------- */
.page1 .popup {
  border: 1px dotted #3a5485;
  background: #fff;
  display: none;
  height: 60vh;
  left: 50%;
  padding: 50px 100px;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.page1 .popup.active {
  display: flex;
}

.page1 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  width: 40%;
}

.page1 .popup .text h3 {
  font-size: 1.5em;
  padding-bottom: 100px;
  position: relative;
}

.page1 .popup .text h3:before {
  background: #3a5485;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: -40px;
  width: 200px; 
}

.page1 .popup .text p {
  padding-bottom: 20px;
  white-space: pre-line;
}

.page1 .popup .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 60%;
}

.page1 .popup .gallery img{
  position: absolute;
  width: 48%;
}

.page1 .popup .gallery img:nth-of-type(1) {
  left: 0;
  top: 0;
  z-index: 10;
}

.page1 .popup .gallery img:nth-of-type(2) {
  margin-top: 50px;
  right: 0;
  top: 0;
}

.page1 .popup .gallery img:nth-of-type(3) {
  left: 0;
  top: 500px;
}

.page1 .popup .gallery img:nth-of-type(4) {
  margin-top: 100px;
  right: 0;
  top: 450px;
}

.page1 .popup a {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ------------------------------ page2 -------------------------- */
.page2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page2 .text {
  padding: 240px 50px 80px 0;
  text-align: right;
  width: 100%;
}

.page2 .text h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 80px;
  position: relative;
  white-space: pre;
}

.page2 .text h2:before {
  background: #3a5485;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  top: -40px;
  width: 200px; 
}

.page2 .text p {
  font-size: 1.2em;
  white-space: pre-line;
}

.page2 .index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
}

.page2 .index a {
  position: relative;
  width: 24%;
}

.page2 .index a:after {
  background: rgba(255, 255, 255, .4);
  content: '';
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 100%;
}

.page2 .index a:hover:after {
  opacity: 1
}

.page2 .index a img {
  width: 100%;
}

.page2 .index a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  font-size: .9em;
  left: 50%;
  opacity: 0;
  padding: 20px 70px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 10;
}

.page2 .index a:hover figcaption {
  opacity: 1;
}

.page2 .index a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 95%;
}

/* ---------------------------- page2 popup gallery ------------------------ */
.page2 .popup-gallery {
  border: 1px dotted #3a5485;
  background: #fff;
  display: none;
  height: 80vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.page2 .popup-gallery:before {
  background: #3a5485;
  content: '';
  height: 90%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.page2 .popup-gallery h3 {
  font-size: 1.5em;
  padding-top: 80px;
  position: relative;
  text-align: center;
}

.page2 .popup-gallery h3:before {
  background: #3a5485;
  bottom: -30px;
  content: '';
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 90px;
}

.page2 .popup-gallery figure {
  bottom: 30px;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  right: 25px;
  width: 95%;
}

.page2 .popup-gallery figure div{
  position: absolute;
  width: 33%;
}

.page2 .popup-gallery figure div:nth-of-type(1) {
  left: 0;
  top: -100px;
}

.page2 .popup-gallery figure div:nth-of-type(2) {
  left: 50%;
  transform: translateX(-50%);
}

.page2 .popup-gallery figure div:nth-of-type(3) {
  right: 0;
  top: -50px;
}

.page2 .popup-gallery figure div a{
  position: relative;
  width: 100%;
}

.page2 .popup-gallery figure div a:after {
  background: rgba(255, 255, 255, .4);
  content: '';
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 100%;
}

.page2 .popup-gallery figure div a:hover:after {
  opacity: 1;
}

.page2 .popup-gallery figure div a img {
  width: 100%;
}

.page2 .popup-gallery figure div a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  left: 50%;
  opacity: 0;
  padding: 15px 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  white-space: pre-line;
}

.page2 .popup-gallery figure div a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.page2 .popup-gallery figure div a:hover figcaption {
  opacity: 1;
  z-index: 10;
}

.page2 .popup-gallery > a {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ---------------------------- page2 popup detail ------------------------ */
.page2 .popup-detail {
  border: 1px dotted #3a5485;
  background: #fff;
  display: none;
  flex-direction: row-reverse;
  height: 80vh;
  justify-content: space-around;
  left: 50%;
  /* overflow: hidden; */
  padding: 150px 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.page2 .popup-detail .pop-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 50px;
  text-align: right;
  width: 50%;
}

.page2 .popup-detail .pop-text h3 {
  font-size: 1.25em;
  font-weight: 600;
  padding-bottom: 80px;
}

.page2 .popup-detail .pop-text span {
  padding-bottom: 40px;
  position: relative;
  white-space: pre-line;
}

.page2 .popup-detail .pop-text span:before {
  background: #3a5485;
  bottom: -30px;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  width: 150px;
}

.page2 .popup-detail .pop-text span a{
  display: inline-block;
  margin-bottom: 5px;
}

.page2 .popup-detail .pop-text span a:last-of-type {
  margin-bottom: 0;
}

.page2 .popup-detail .pop-img {
  display: flex;
  align-items: center;
  width: 40%;
}

.page2 .popup-detail .pop-img img {
  width: 100%
}

.page2 .popup-detail > a{
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ---------------------------- page3 ------------------------ */
.page3 {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  padding: 100px 150px 0;
  position: relative;
  width: 100%;
}

.page3 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.page3 .text h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 80px;
  position: relative;
}

.page3 .text h2:before {
  background: #3a5485;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: -40px;
  width: 100px
}

.page3 .text span {
  font-size: 1.25em;
  padding-bottom: 100px;
  white-space: pre-line;
}

.page3 .text .index {
  white-space: pre-line;
}

.page3 .text .index a {
  font-size: 1.25em;
  margin-bottom: 50px;
  text-transform: uppercase;
  transition: .5s;
}

.page3 .text .index a:last-of-type {
  margin: 0;
}

.page3 .text .index a:hover {
  letter-spacing: 1em;
}

.page3 .text .index a img {
  padding-right: 20px;
  vertical-align: middle;
}

.page3 figure {
  align-items: center;
  display: flex;
  width: 45%;
}

.page3 figure img {
  width: 100%;
}

/* ---------------------------- page3 popup------------------------ */
.page3 .popup-detail {
  align-items: flex-end;
  border: 1px dotted #3a5485;
  background: #fff;
  display: none;
  flex-direction: row-reverse;
  height: 60vh;
  justify-content: space-between;
  left: 50%;
  padding: 80px 100px 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.page3 .popup-detail .pop-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}

.page3 .popup-detail .pop-text h3 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 150px;
  position: relative;
  white-space: pre-line;
}

.page3 .popup-detail .pop-text h3:before {
  background: #3a5485;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: -50px;
  width: 150px;
}

.page3 .popup-detail .pop-text .text-container {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.page3 .popup-detail .pop-text .text-container p {
  padding-bottom: 50px;
  text-align: right;
  white-space: pre-line;
  width: 48%;
}
.page3 .popup-detail .pop-text .text-container p strong {
  font-size: 1.1em;
  font-weight: 600;
}

.page3 .popup-detail .pop-img {
  width: 30%;
}

.page3 .popup-detail .pop-img img {
  width: 100%;
}

.page3 .popup-detail > a {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ---------------------------- page4 ------------------------ */
.page4 {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  padding: 100px 0 30px;
  width: 100%;
}

.page4 .notice {
  padding: 0 40px;
  width: 25%;
}

.page4 .notice h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 30px 0;
  position: relative;
}

.page4 .notice h2:before {
  background: #3a5485;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px
}

.page4 .notice > p {
  padding-bottom: 20px;
  white-space: pre-line;
}

.page4 .notice #register {
  width: 100%;
}

#register .user-info {
  padding-bottom: 20px;
  width: 100%;
}

#register .user-info tbody th {
  text-align: left;
  width: 15%;
}

#register .user-info tbody td input {
  outline-style: none;
  width: 100%;
}

#register .review-container {
  padding-bottom: 30px;
}

#register .review-container textarea {
  margin-bottom: 20px;
  outline-style: none;
  width: 100%;
}

#register button {
  background: #fff;
  border: 1px solid #3a5485;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

#register button:hover {
  background: #3a5485;
  color: #fff;
}

.page4 .reply-container {
  background: rgba(238, 238, 238, .4);
  border: 1px dotted #3a5485;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  width: 75%;
}

.page4 .reply-container .reply {
  background: #fff;
  border: 1px solid #3a5485;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 30px;
  position: absolute;
  width: 70%;
}

.page4 .reply-container .reply:nth-of-type(1) {
  left: 30px;
  top: 30px;
}

.page4 .reply-container .reply:nth-of-type(2) {
  right: 30px;
  top: 180px;
}

.page4 .reply-container .reply p {
  font-size: 1.1em;
  padding-bottom: 20px;
}

.page4 .reply-container .reply code {
  color: #999;
  padding-right: 5px;
}

.page4 .reply-container .reply span {
  color: #999;
  padding-left: 5px;
}


/* ------------------------------ js 활용 -------------------------- */
.active-flex {
  display: flex;
}

.active-block {
  display: block;
}

.hovered {
  opacity: 1;
}

.non-active {
  display: none;
}