@import url(common.css);

/* font: font-style font-variant font-weight font-size/line-height font-family */

#wrapper {
  border: 1px solid #333;
  height: 100vh; 
  width: 100%;
}

/* page0 */
.page0 {
  height: 100vh;
  position: relative;
  width: 100%;
}

.page0 a {
  background: #fff;
  right: 10%;
  padding: 40px;
  position: absolute;
  top: 15%;
  z-index: 10;
}

.page0 a h1 {
  height: 200px;
  /* min-height: 100px;
  min-width: 300px; */
  position: relative;
  width: 500px;
}

.page0 a h1 span {
  border: 1px solid #3a5485;
  left: 0;
  padding: 10px 5px;
  position: absolute;
  top: 0;
}

.page0 a h1 span img {
  width: 100%;
}

.page0 a h1 strong {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
  right: 0;
  position: absolute; 
  bottom: 0;
  white-space: pre;
}

.page0 .vid-container {
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.page0 .vid-container.is-fixed{
  position: fixed
}

.page0 video {
  width: 100%;
}

#container {
  border: 1px solid #f00;
  /* height: 100vh; */
  margin: 0 auto;
  width: 90%;
}

/* script 수정 */
header {
  align-items: center;
  border: 1px solid #00f;
  display: flex;
  justify-content: space-between;
  left: 95px;
  padding-top: 40px;
  position: fixed;
  top: 0;
  width: 90%;
}
/* script 수정 */

header a {}

header a h1 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

header a h1 span{
  background: #fff;
  border: 1px solid #3a5485;
  margin-right: 10px;
  padding: 5px 0;
}

header a h1 img {
  transform: scale(.8);
  width: 100%;
}

header .page-title {
  font-size: 1.2em;
}

/* ------------------------------ page1 -------------------------- */
.page1 {
  border: 1px solid #333;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page1 h2{
  border: 1px solid #3a5485;
  display: none;
  font-size: 2em;
  left: 50%;
  padding: 50px 120px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page1 h2:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.page1 .index {
  border: 1px solid orange;
  display: flex;
  /* display: none; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
  width: 100%;
}

.page1 .index a {
  height: 750px;
  overflow: hidden;
  position: relative;
  width: 30%;
}

.page1 .index a img {
  width: 100%;
}

.page1 .index a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  font-size: 1.2em;
  left: 50%;
  opacity: 1;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.page1 .index a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.page1 .popup {
  border: 1px dotted #3a5485;
  background: #fff;
  display: flex;
  /* display: none; */
  height: 50vh;
  left: 50%;
  padding: 50px 100px;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.page1 .popup.active {
  display: flex
}

.page1 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  width: 40%;
}

.page1 .popup .text h3 {
  font-size: 1.5em;
  padding-bottom: 100px;
  position: relative;
}

.page1 .popup .text h3:before {
  background: #3a5485;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: -50px;
  width: 200px; 
}

.page1 .popup .text p {
  font-size: 1.1em;
  padding-bottom: 20px;
  white-space: pre-line;
}

.page1 .popup .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 60%;
}

.page1 .popup .gallery img{
  /* padding-bottom: 30px; */
  position: absolute;
  width: 48%;
}

.page1 .popup .gallery img:nth-of-type(1) {
  left: 0;
  top: 0;
  z-index: 10;
}

.page1 .popup .gallery img:nth-of-type(2) {
  margin-top: 100px;
  right: 0;
  top: 0;
}

.page1 .popup .gallery img:nth-of-type(3) {
  left: 0;
  top: 580px;
}

.page1 .popup .gallery img:nth-of-type(4) {
  margin-top: 100px;
  right: 0;
  top: 580px;
}

.page1 .popup a {
  position: absolute;
  right: 30px;
  top: 25px;
}

/* ------------------------------ page2 -------------------------- */
.page2 {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page2 .text {
  padding: 240px 0 80px 0;
  text-align: right;
  width: 100%;  
}

.page2 .text h2 {
  font-size: 1.5em;
  padding-bottom: 80px;
  position: relative;
  white-space: pre;
}

.page2 .text h2:before {
  background: #3a5485;
  content: '';
  height: 4px;
  position: absolute;
  right: 0;
  top: -50px;
  width: 200px; 
}

.page2 .text p {
  font-size: 1.1em;
  white-space: pre-line;
}

.page2 .index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
  width: 100%;
}

.page2 .index a {
  position: relative;
  width: 24%;
}

.page2 .index a img {
  width: 100%;
}

.page2 .index a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  left: 50%;
  padding: 20px 60px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page2 .index a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  /* opacity: 0; */
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.page2 .popup-gallery {
  border: 1px dotted #3a5485;
  background: #fff;
  display: flex;
  /* display: none; */
  flex-direction: column;
  height: 70vh;
  left: 50%;
  /* overflow: hidden; */
  padding: 50px 100px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.page2 .popup-gallery h3 {}

.page2 .popup-gallery figure {}
.page2 .popup-gallery figure .tpo-blue {}
.page2 .popup-gallery figure .tpo-blue a {}
.page2 .popup-gallery figure .tpo-blue a img {}
.page2 .popup-gallery figure .tpo-blue a figcaption {}

.page2 .popup-gallery figure .tpo-newtro {}
.page2 .popup-gallery figure .tpo-newtro a {}
.page2 .popup-gallery figure .tpo-newtro a img {}
.page2 .popup-gallery figure .tpo-newtro a figcaption {}

.page2 .popup-gallery figure .tpo-shorts {}
.page2 .popup-gallery figure .tpo-shorts a {}
.page2 .popup-gallery figure .tpo-shorts a img {}
.page2 .popup-gallery figure .tpo-shorts a figcaption {}


.page2 .popup-gallery .gallery-container figure {
  border: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.page2 .popup-gallery figure a {
  position: relative;
  /* position: absolute; */
  width: 33%;
}

.page2 .popup-gallery figure a img {
  width: 100%;
}

.page2 .popup-gallery figure a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  font-size: .8em;
  left: 50%;
  padding: 15px 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-line;
}

.page2 .popup-gallery figure a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  /* opacity: 0; */
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.popup-detail {
  display: none;
}


/* ------------------------------ js 활용 -------------------------- */
.hovered {
  opacity: 1;
}
