/*----------------------- mixin -----------------------*/
@mixin setPosition($lftPos, $topPos, $x, $y) {
  left: $lftPos;
  position: absolute;
  top: $topPos;
  transform: translate($x, $y);
}

@mixin setBackImg($dir, $pos) {
  background: url($dir) no-repeat $pos;
}

/*----------------------- animation -----------------------*/
@keyframes detail_in {
  0% {
    padding-top: 100vh;
  }

  100% {
    padding-top: 0;
  }
}

@keyframes intro {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -100%);
  }
}

@keyframes post_intro {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes rect_down {
  0% {
    x: 0;
    y: -100%;
  }

  100% {
    x: 0;
    y: 0;
  }
}

@keyframes scale_up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}
