/*----------------------- mixin -----------------------*/
/*----------------------- animation -----------------------*/
@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;900&display=swap);
@keyframes detail_in {
  0% {
    padding-top: 100vh; }
  100% {
    padding-top: 0; } }
@keyframes intro {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -100%); } }
@keyframes post_intro {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes rect_down {
  0% {
    x: 0;
    y: -100%; }
  100% {
    x: 0;
    y: 0; } }
@keyframes scale_up {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.4); } }
@font-face {
  font-family: 'sCoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  unicode-range: u+ac00 -ud7a3; }
* {
  box-sizing: border-box;
  color: #efc050;
  font: 16px/1.5 'Kanit', 'sCoreDream', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

a,
button,
code,
small,
span,
strong {
  display: inline-block; }

a {
  text-decoration: none; }

body {
  background: #2f3435; }
  body::-webkit-scrollbar {
    display: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  outline-style: none;
  text-transform: uppercase; }

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 2vw;
  text-transform: uppercase; }

.hidden {
  display: none; }

input {
  background: none;
  border: none;
  border-bottom: 1px solid #efc050;
  outline-style: none; }

.main {
  width: 100%; }

text {
  font-size: 7.5rem;
  font-weight: 700; }

textarea {
  background: transparent;
  border: 1px solid #efc050;
  font-weight: normal;
  outline-style: none; }

textarea::-webkit-scrollbar {
  display: none; }

ul,
li {
  list-style: none; }

::selection {
  background: #f00;
  color: #fff; }

/*----------------------- header -----------------------*/
.header {
  display: flex;
  justify-content: space-between;
  left: 5%;
  padding-top: 2vw;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 20; }
  .header__logo a {
    font-size: 1.25em;
    line-height: 1em;
    text-transform: uppercase;
    white-space: pre-line; }
    .header__logo a span {
      font-size: inherit;
      letter-spacing: .9em; }
  .header__btn {
    text-transform: uppercase; }

/*----------------------- about -----------------------*/
.main__about {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 0);
  background: #2f3435;
  height: 100%;
  margin: 0 auto;
  padding: 7vw 15% 0;
  transform: translate(0, 0);
  transition: 1s;
  width: 100%;
  z-index: 10; }
  .main__about.deactive {
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(100%, 0); }
  .main__about .container {
    padding-bottom: 6vw; }
  .main__about_profile {
    height: 400px;
    margin-bottom: 5vw;
    position: relative;
    width: 100%; }
    .main__about_profile h3 {
      left: 25%;
      position: absolute;
      top: 30%;
      transform: translate(0, 0);
      font-size: 3.4em;
      font-weight: 600;
      letter-spacing: .3em;
      mix-blend-mode: difference;
      text-align: center;
      text-transform: uppercase;
      z-index: 10; }
    .main__about_profile span {
      left: 75%;
      position: absolute;
      top: 60%;
      transform: translate(0, 0);
      font-size: 1.5em;
      mix-blend-mode: difference;
      text-transform: capitalize;
      white-space: pre-line;
      z-index: 10; }
    .main__about_profile img {
      left: 50%;
      position: absolute;
      top: 10%;
      transform: translate(0, 0); }
  .main__about_contacts {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .main__about_contacts article:nth-of-type(1) {
      width: 250px; }
      .main__about_contacts article:nth-of-type(1) a {
        display: block;
        padding: 5px 0 0 50px; }
      .main__about_contacts article:nth-of-type(1) a:nth-of-type(1) {
        background: url(../img/ic_email.png) no-repeat left; }
      .main__about_contacts article:nth-of-type(1) a:nth-of-type(2) {
        background: url(../img/ic_linkedin.png) no-repeat left; }
      .main__about_contacts article:nth-of-type(1) a:nth-of-type(3) {
        background: url(../img/ic_github.png) no-repeat left; }
    .main__about_contacts article:nth-of-type(2) {
      text-align: right;
      white-space: pre-line;
      width: 55%; }
  .main__about_education p {
    align-items: flex-end;
    display: flex;
    padding: 1vw 0; }
    .main__about_education p strong {
      font-size: 1.1em;
      padding-right: 1.5vw; }
    .main__about_education p span {
      padding-right: 1.5vw; }
  .main__about_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    .main__about_skills h3 {
      width: 100%; }
    .main__about_skills > div {
      padding-bottom: 2vw;
      width: 49%; }
      .main__about_skills > div strong {
        font-size: 1.25em;
        padding-bottom: .5vw; }
      .main__about_skills > div img {
        padding-left: 1vw; }
      .main__about_skills > div p {
        word-break: keep-all;
        word-wrap: break-word; }
  .main__about_personality > div {
    height: 400px;
    width: 100%;
    position: relative; }
    .main__about_personality > div strong {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
      font-weight: bold; }
    .main__about_personality > div span {
      left: 0;
      position: absolute;
      top: 0;
      transform: translate(0, 0);
      background: #2f3435;
      height: auto;
      transition: .5s;
      width: auto;
      z-index: 20; }
      .main__about_personality > div span.active {
        transform: scale(1.2); }
    .main__about_personality > div span:after {
      background: #efc050;
      bottom: 0;
      content: '';
      left: 0;
      height: 1px;
      position: absolute;
      width: 100px; }
    .main__about_personality > div span:nth-of-type(1) {
      font-size: 2.5rem;
      left: 60%;
      top: 20%; }
      .main__about_personality > div span:nth-of-type(1):after {
        bottom: -30%;
        left: -30%;
        transform: rotate(-40deg);
        width: 80px; }
    .main__about_personality > div span:nth-of-type(2) {
      font-size: 2rem;
      left: 40%;
      top: 75%; }
      .main__about_personality > div span:nth-of-type(2):after {
        bottom: 180%;
        left: 20%;
        transform: rotate(90deg);
        width: 70px; }
    .main__about_personality > div span:nth-of-type(3) {
      font-size: 2rem;
      left: 20%;
      top: 35%; }
      .main__about_personality > div span:nth-of-type(3):after {
        left: 100%;
        transform: rotate(10deg);
        width: 40px; }
    .main__about_personality > div span:nth-of-type(4) {
      font-size: 1.25rem;
      left: 65%;
      top: 60%; }
      .main__about_personality > div span:nth-of-type(4):after {
        bottom: 160%;
        left: -80%;
        transform: rotate(20deg); }
    .main__about_personality > div span:nth-of-type(5) {
      font-size: 1.25rem;
      left: 25%;
      top: 65%; }
      .main__about_personality > div span:nth-of-type(5):after {
        bottom: 180%;
        left: 100%;
        transform: rotate(-30deg);
        width: 90px; }
    .main__about_personality > div span:nth-of-type(6) {
      font-size: 1.25rem;
      left: 35%;
      top: 10%; }
      .main__about_personality > div span:nth-of-type(6):after {
        bottom: -180%;
        left: 30%;
        transform: rotate(55deg);
        width: 110px; }

/*----------------------- aside -----------------------*/
.aside.active {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 0);
  background: transparent;
  height: 100vh;
  width: 100%;
  z-index: 30; }
.aside__modal {
  background: #2f3435;
  border: 1px solid #efc050;
  border-radius: 10px;
  bottom: 4vw;
  display: none;
  position: fixed;
  transition: .5s;
  right: 7%; }
  .aside__modal.active {
    display: flex; }
  .aside__modal_to {
    border-right: 1px solid #efc050;
    overflow: hidden;
    padding: 3vw 2vw 3vw 3vw;
    position: relative; }
    .aside__modal_to h3 {
      bottom: 30px;
      font-size: 3rem;
      line-height: 1;
      mix-blend-mode: exclusion;
      position: absolute;
      right: 2vw;
      text-align: right;
      text-transform: uppercase;
      white-space: pre-line; }
    .aside__modal_to:before {
      background: #efc050;
      bottom: 100px;
      content: '';
      height: 150px;
      left: -100px;
      position: absolute;
      transform: rotate(-15deg);
      width: 200%; }
    .aside__modal_to p {
      display: flex;
      flex-direction: column;
      font-size: .9em; }
      .aside__modal_to p strong {
        font-size: 1.25rem;
        text-transform: uppercase; }
  .aside__modal_from {
    padding: 3vw 5vw; }
    .aside__modal_from p {
      display: flex;
      flex-direction: column;
      padding-bottom: 1vw; }
      .aside__modal_from p label {
        font-size: 1.25rem;
        text-transform: uppercase; }
      .aside__modal_from p textarea {
        margin: .5vw 0 2vw; }
        .aside__modal_from p textarea::-webkit-scrollbar {
          display: none; }
    .aside__modal_from p:last-of-type {
      padding-bottom: 0;
      position: relative;
      text-align: center; }
      .aside__modal_from p:last-of-type input {
        border: none;
        cursor: pointer;
        font-size: 1.25rem;
        padding: 5px 0;
        position: relative;
        text-transform: uppercase;
        transition: .5s; }
    .aside__modal_from p:last-of-type:before {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(0, 0);
      border-left: 1px solid #efc050;
      border-right: 1px solid #efc050;
      content: '';
      height: 100%;
      transform: skewX(-10deg) translate(-52%, -50%);
      transition: .5s;
      width: 70%; }
    .aside__modal_from p:last-of-type:hover input {
      mix-blend-mode: exclusion; }
    .aside__modal_from p:last-of-type:hover:before {
      background: #efc050; }
.aside__btn {
  background: url(../img/ic_message.png) no-repeat center;
  bottom: 1.5vw;
  height: 40px;
  right: 5%;
  position: fixed;
  transition: .5s;
  width: 40px;
  z-index: 20; }

/*----------------------- footer -----------------------*/
footer {
  bottom: 1.5vw;
  left: 5%;
  position: fixed;
  z-index: 10; }
  footer p {
    font-size: .6rem;
    white-space: pre-line; }
    footer p span {
      font-size: .6rem;
      letter-spacing: .3em; }

/*----------------------- load -----------------------*/
.main__intro {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 0);
  animation: intro 1s 4s forwards;
  align-items: center;
  background: #2f3435;
  display: flex;
  height: 100vh;
  justify-content: center;
  transform: translate(0, 0);
  width: 100%;
  z-index: 50; }
  .main__intro svg {
    animation: scale_up 1.5s 2s forwards; }
    .main__intro svg rect {
      animation: rect_down 1.5s .5s linear forwards;
      x: 0;
      y: -100%; }
  .main__intro.deactive {
    display: none; }

/*----------------------- index.html -----------------------*/
.main__works {
  animation: post_intro 1s backwards;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
  transition: 1s;
  width: 100%; }
  .main__works.animate {
    animation: post_intro 1s 4.5s backwards; }
  .main__works.deactive {
    transform: translate(-100%, 0); }
  .main__works_contents {
    height: 100vh;
    overflow: hidden;
    width: 100%; }
    .main__works_contents li {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      padding: 3vw 15%;
      width: 100%; }
      .main__works_contents li h3 {
        color: transparent;
        font-size: 9em;
        font-weight: 700;
        letter-spacing: 10px;
        line-height: 1em;
        padding: 0;
        text-transform: uppercase;
        -webkit-text-stroke: 1px rgba(239, 192, 80, 0.4); }
      .main__works_contents li img {
        opacity: 0; }
    .main__works_contents li:first-of-type {
      opacity: 0; }
      .main__works_contents li:first-of-type.selected {
        opacity: 1; }
        .main__works_contents li:first-of-type.selected h3 {
          opacity: 1;
          top: 60%; }
        .main__works_contents li:first-of-type.selected img {
          left: 50%;
          opacity: 1; }
      .main__works_contents li:first-of-type a {
        display: flex;
        align-items: flex-end;
        height: 300px;
        position: relative;
        transition: .5s;
        width: 100%; }
        .main__works_contents li:first-of-type a h3 {
          left: 0;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          color: #efc050;
          mix-blend-mode: difference;
          opacity: 0;
          transition: .5s; }
        .main__works_contents li:first-of-type a img {
          left: 100%;
          position: absolute;
          top: 0;
          transform: translate(0, 0);
          filter: grayscale(1);
          opacity: 0;
          transition: .5s;
          width: 50%;
          z-index: -10; }
      .main__works_contents li:first-of-type a:hover h3 {
        transform: scale(1.2) translate(0, -50%); }
      .main__works_contents li:first-of-type a:hover img {
        filter: grayscale(0);
        transform: scale(1.2); }
      .main__works_contents li:first-of-type p {
        font-size: 2rem; }
        .main__works_contents li:first-of-type p code {
          font-size: inherit;
          font-weight: 300; }
        .main__works_contents li:first-of-type p code:nth-of-type(1) {
          padding-right: 1vw; }
        .main__works_contents li:first-of-type p code:nth-of-type(2) {
          padding-left: 1vw; }
    .main__works_contents li:nth-of-type(2) a img {
      display: none; }
    .main__works_contents li:nth-of-type(2) p {
      display: none; }
    .main__works_contents li:nth-of-type(3) a img {
      display: none; }
    .main__works_contents li:nth-of-type(3) p {
      display: none; }
    .main__works_contents li:nth-of-type(4) a img {
      display: none; }
    .main__works_contents li:nth-of-type(4) p {
      display: none; }
    .main__works_contents li:last-of-type a img {
      display: none; }
    .main__works_contents li:last-of-type p {
      display: none; }

/*-----------------------------------------------------*/
/*----------------------- media -----------------------*/
/*-----------------------------------------------------*/

/*# sourceMappingURL=index.css.map */
