@import "_common";

/*----------------------- load -----------------------*/
.main__intro {
  @include setPosition(0, 0, 0, 0);
  animation: intro 1s 4s forwards;
  align-items: center;
  background: $bgColor;
  display: flex;
  height: 100vh;
  justify-content: center;
  transform: translate(0, 0);
  width: 100%;
  z-index: 50;

  svg {
    animation: scale_up 1.5s 2s forwards;

    rect {
      animation: rect_down 1.5s .5s linear forwards;
      x: 0;
      y: -100%;
    }
  }

  &.deactive {
    display: none;
  }
}

/*----------------------- index.html -----------------------*/
.main__works {
  animation: post_intro 1s backwards;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
  transition: 1s;
  width: 100%;

  &.animate {
    animation: post_intro 1s 4.5s backwards;
  }

  &.deactive {
    transform: translate(-100%, 0);
  }

  &_contents {
    height: 100vh;
    overflow: hidden;
    width: 100%;

    li {
      @include setPosition(0, 50%, 0, -50%);

      padding: 3vw 15%;
      width: 100%;

      h3 {
        color: transparent;
        font-size: 9em;
        font-weight: 700;
        letter-spacing: 10px;
        line-height: 1em;
        padding: 0;
        text-transform: uppercase;
        -webkit-text-stroke: 1px rgba(239, 192, 80, .4);
      }

      img {
        opacity: 0;
        // transition: .5s;
      }
    }

    li:first-of-type {
      // top: 50%;
      opacity: 0;

      &.selected{
        opacity: 1;

        h3{
          opacity: 1;
          top:60%;
        }

        img {
          left: 50%;
          opacity: 1;
        }
      }
      a {  
        // border: $hlBorder;
        display: flex;
        align-items: flex-end;
        height: 300px;
        position: relative;
        transition: .5s;
        width: 100%;

        h3 {
          @include setPosition(0, 50%, 0, -50%);

          color: $hlColor;
          mix-blend-mode: difference;
          opacity: 0;
          transition: .5s;
        }

        img {
          @include setPosition(100%, 0, 0, 0);
          filter: grayscale(1);
          opacity: 0;
          transition: .5s;
          width:50%;
          z-index: -10;
        }
      }

      a:hover {
        h3 {
          transform: scale(1.2) translate(0, -50%);
        }

        img {
          filter: grayscale(0);
          
          transform: scale(1.2);
        }
      }
      
      p {
        font-size: 2rem;

        code {
          font-size: inherit;
          font-weight: 300;
        }

        code:nth-of-type(1) {
          padding-right: 1vw;
        }

        code:nth-of-type(2) {
          padding-left: 1vw;
        }
      }
    }

    li:nth-of-type(2) {
      // top: 99%;
      a {
        img {
          display: none;
        }
      }

      p {
        display: none;
      }
    }

    li:nth-of-type(3) {
      // top: 150%;
      
      a {
        img {
          display: none;
        }
      }

      p {
        display: none;
      }
    }

    li:nth-of-type(4) {
      // top: 200%;

      a {
        img {
          display: none;
        }
      }

      p {
        display: none;
      }
    }

    li:last-of-type {
      // top: 1%;
      a {
        img {
          display: none;
        }
      }

      p {
        display: none;
      }
    }    
  }

}

/*-----------------------------------------------------*/
/*----------------------- media -----------------------*/
/*-----------------------------------------------------*/
@media (max-width: 1024px) {}
@media (max-width: 420px) {}