@import url(common.css);


::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
}

#wrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* page0 */
.page0 {
  position: relative;
  width: 100%;
}

.page0 .vid-container {
  height: 110vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 40px;
  width: 1728px;
}

.page0 .vid-container video {
  width: 100%;
}

.page0 .vid-container a {
  background: #fff;
  right: 10%;
  padding: 40px;
  position: absolute;
  top: -300px;
  transition: .5s;
  z-index: 10;
}

.page0 .vid-container a h1 {
  height: 200px;
  position: relative;
  width: 500px;
}

.page0 .vid-container a h1 span {
  border: 1px solid #3a5485;
  left: 0;
  padding: 10px 5px;
  position: absolute;
  top: 0;
}

.page0 .vid-container a h1 span img {
  width: 100%;
}

.page0 .vid-container a h1 strong {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.5em;
  right: 0;
  position: absolute; 
  bottom: 0;
  white-space: pre;
}

.page0 .scroll {
  bottom: 50px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 100;
}

#container {
  margin: 0 auto;
  position: relative;
  width: 90%;
}

/* ------------------------------ header -------------------------- */
header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 20;
}

header.fixed{
  position: fixed;
  top: 0;
  width: 90%
}

header a h1 {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  font-weight: 600;
}

header a h1 span{
  background: #fff;
  border: 1px solid #3a5485;
  margin-right: 10px;
  padding: 5px 0;
}

header a h1 img {
  transform: scale(.8);
  width: 100%;
}

header .page-title {
  font-size: 1.2em;
  transform: translateY(100%);
  transition: .5s;
}

header .page-title.active{
  transform: translateY(0);  
}

/* ------------------------------ page1 -------------------------- */
.page1 {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page1 h2 {
  display: none;
}

.page1 .index {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5vw;
  width: 100%;
}

.page1 .index a {
  position: relative;
  width: 30%;
}

.page1 .index a img {
  width: 100%
}

.page1 .index a:after {
  background: rgba(255, 255, 255, .4);
  content: '';
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 100%;
}

.page1 .index a:hover:after {
  opacity: 1
}

.page1 .index a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  font-size: 1.2em;
  left: 50%;
  opacity: 0;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 350px;
  z-index: 10;
}

.page1 .index a:hover figcaption {
  opacity: 1;
}

.page1 .index a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

/* ------------------------------ page1 popup -------------------------- */
.page1 .popup {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.page1 .popup.active {
  display: block;
}

.page1 .popup > div{
  border: 1px dotted #3a5485;
  background: #fff;
  display: flex;
  height: 70vh;
  left: 50%;
  padding: 50px 100px;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 75%;
}


.page1 .popup div .text {
  display: none;
  flex-direction: column;
  justify-content: flex-end;  
  width: 40%;
}

.page1 .popup div .text.active {
  display: flex;
}

.page1 .popup div .text h3 {
  font-size: 1.5em;
  padding-bottom: 100px;
  position: relative;
}

.page1 .popup div .text h3:before {
  background: #3a5485;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: -40px;
  width: 200px; 
}

.page1 .popup div .text p {
  padding-bottom: 20px;
  white-space: pre-line;
}

.page1 .popup div .gallery {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  position: relative;
  width: 60%;
}

.page1 .popup div .gallery::-webkit-scrollbar {
  display: none
}

.page1 .popup div .gallery figure {
  width: 100%;
  height: 300%;
  left: 0;
  position: absolute;
  top: 0;
}

.page1 .popup div .gallery figure img{
  /* margin-bottom: 10px; */
  position: absolute;
  width: 48%;
}

.page1 .popup div .gallery figure img:nth-of-type(odd) {
  left: 0;
  top: 0;
}

.page1 .popup div .gallery figure img:nth-of-type(even) {
  right: 0;
  top: 50px;
}

.page1 .popup div a {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ------------------------------ page2 -------------------------- */
.page2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page2 .text {
  /* padding: 240px 50px 80px 0; */
  padding: 0 2vw 4vw 0;
  text-align: right;
  width: 100%;
}

.page2 .text h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 5vw;
  position: relative;
  white-space: pre;
}

.page2 .text h2:before {
  background: #3a5485;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  top: -40px;
  width: 200px; 
}

.page2 .text p {
  font-size: 1.2em;
  white-space: pre-line;
}

.page2 .category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 7vw;
  width: 100%;
}

.page2 .category a {
  position: relative;
  width: 24%;
}

.page2 .category a:after {
  background: rgba(255, 255, 255, .4);
  content: '';
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 100%;
}

.page2 .category a:hover:after {
  opacity: 1
}

.page2 .category a img {
  width: 100%;
}

.page2 .category a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  font-size: 1.1em;
  left: 50%;
  opacity: 0;
  padding: 1vw 3vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 10;
}

.page2 .category a:hover figcaption {
  opacity: 1;
}

.page2 .category a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 95%;
}

/* ---------------------------- page2 popup gallery ------------------------ */
.page2 .popup-gallery {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.page2 .popup-gallery.active {
  display: block;
}

.page2 .popup-gallery > div {
  border: 1px dotted #3a5485;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: flex-end;
  left: 50%;
  padding: 30px 50px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;
}

.page2 .popup-gallery:before {
  background: #3a5485;
  content: '';
  height: 90%;
  left: 0;
  position: absolute;
  top: 30px;
  width: 5px;
}

.page2 .popup-gallery .pop-category {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5vw;
  position: relative;
  width: 70%;
}

.page2 .popup-gallery .pop-category h3 {
  padding-right: 30px;
}

.page2 .popup-gallery .pop-category h3:last-of-type {
  padding: 0;
}

.page2 .popup-gallery .pop-category h3 a {
  font-size: 1.5em;
  transition: .5s;
}

.page2 .popup-gallery .pop-category h3 a:hover {
  color: #ccc5eb;
  letter-spacing: .3em;
}

.page2 .popup-gallery .pop-category h3 a.selected {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: .3em;
}

.page2 .popup-gallery .contents {
  display: flex;
  width: 100%;
}

.page2 .popup-gallery .contents .images {
  flex-wrap: wrap;
  height: 70vh;
  justify-content: space-between;
  overflow-y: auto;
  width: 70%;
}

.page2 .popup-gallery .contents .images::-webkit-scrollbar {
  display: none;
}

.page2 .popup-gallery .contents .images a{
  position: relative;
  width: 33%;
}

.page2 .popup-gallery .contents .images a:after {
  background: rgba(255, 255, 255, .4);
  content: '';
  height: 100%;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 100%;
}

.page2 .popup-gallery .contents .images a:hover:after {
  opacity: 0;
}

.page2 .popup-gallery .contents .images a img {
  width: 100%;
}

.page2 .popup-gallery .contents .images a figcaption {
  background: #fff;
  border: 1px solid #3a5485;
  left: 50%;
  opacity: 0;
  padding: 1vw 2vw;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  white-space: pre-line;
}

.page2 .popup-gallery .contents .images a figcaption:after {
  border: 1px solid #3a5485;
  content: '';
  height: 80%;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.page2 .popup-gallery .contents .images a:hover figcaption {
  opacity: 1;
  z-index: 10;
}

.page2 .popup-gallery .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 50px;
  text-align: right;
  width: 30%;
}

.page2 .popup-gallery .text h3 {
  font-size: 1.25em;
  font-weight: 600;
  padding-bottom: 3vw;
  text-align: right;
  transform: translateY(-100%);
  transition: .5s;
}

.page2 .popup-gallery .text span {
  font-size: .9em;
  padding-bottom: 40px;
  position: relative;
  white-space: pre-line;
}

.page2 .popup-gallery .text span:before {
  background: #3a5485;
  bottom: -30px;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  width: 150px;
}

.page2 .popup-gallery .text span a{
  display: block;
  margin-bottom: 5px;
}

.page2 .popup-gallery .text span a:hover {
  color: #ccc5eb;
}

.page2 .popup-gallery .text span a:first-of-type {
  padding-top: 20px;
}

.page2 .popup-gallery .text span a:last-of-type {
  margin-bottom: 0;
}

.page2 .popup-gallery div > a {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ---------------------------- page3 ------------------------ */
.page3 {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  padding: 5vw 8vw 0;
  position: relative;
  width: 100%;
}

.page3 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.page3 .text h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 5vw;
  position: relative;
}

.page3 .text h2:before {
  background: #3a5485;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: -40px;
  width: 100px
}

.page3 .text span {
  font-size: 1.25em;
  padding-bottom: 7vw;
  white-space: pre-line;
}

.page3 .text .index {
  white-space: pre-line;
}

.page3 .text .index a {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 3vw;
  text-transform: uppercase;
  transition: .5s;
}

.page3 .text .index a:last-of-type {
  margin: 0;
}

.page3 .text .index a:hover {
  color: #ccc5eb;
  letter-spacing: 1em;
}

.page3 .text .index a img {
  padding-right: 20px;
  vertical-align: middle;
}

.page3 figure {
  align-items: center;
  display: flex;
  width: 45%;
}

.page3 figure img {
  width: 100%;
}

/* ---------------------------- page3 popup------------------------ */
.page3 .popup-detail {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.page3 .popup-detail.active {
  display: block;
}

.page3 .popup-detail > div {
  border: 1px dotted #3a5485;
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  justify-content: space-between;
  left: 50%;
  /* padding: 80px 100px 50px; */
  padding: 5vw 8vw 3vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.page3 .popup-detail .pop-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

.page3 .popup-detail .pop-text h3 {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 100px;
  position: relative;
  text-align: right;
}

.page3 .popup-detail .pop-text h3:before {
  background: #3a5485;
  bottom: -60px;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  width: 150px;
}

.page3 .popup-detail .pop-text h3 a span {
  font-size: 1.5rem;
  padding-left: 30px;
  text-transform: capitalize;
  transition: .5s;
}

.page3 .popup-detail .pop-text h3 a:hover span {
  color: #ccc5eb;
  letter-spacing: .3em;
}

.page3 .popup-detail .pop-text h3 a span.selected {
  font-weight: 600;
  letter-spacing: .3em;
}

.page3 .text-container {
  display: none;
  justify-content: space-between;
  padding-top: 200px;
  width: 100%;
}

.page3 .text-container.selected {
  display: flex;
}

.page3 .text-container p {
  padding-bottom: 50px;
  text-align: right;
  white-space: pre-line;
  width: 48%;
}

.page3 .text-container p strong {
  display: inline;
  font-size: 1.1em;
  font-weight: 600;
  text-align: right;
  white-space: pre-line;
}

.page3 .popup-detail .pop-img {
  position: relative;
  width: 30%;
}

.page3 .popup-detail .pop-img img {
  left: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 2s;
  width: 100%;
}

.page3 .popup-detail .pop-img img:nth-of-type(2) {
  opacity: 0;
}

.page3 .popup-detail div > a {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ---------------------------- page4 ------------------------ */
.page4 {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  padding: 100px 0 30px;
  width: 100%;
}

.page4 .notice {
  padding: 0 40px;
  width: 25%;
}

.page4 .notice h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 30px 0;
  position: relative;
}

.page4 .notice h2:before {
  background: #3a5485;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px
}

.page4 .notice > p {
  padding-bottom: 20px;
  white-space: pre-line;
}

.page4 .notice #register {
  width: 100%;
}

#register .user-info {
  padding-bottom: 20px;
  width: 100%;
}

#register .user-info tbody th {
  text-align: left;
  width: 15%;
}

#register .user-info tbody td input {
  outline-style: none;
  width: 100%;
}

#register .review-container {
  padding-bottom: 30px;
}

#register .review-container textarea {
  margin-bottom: 20px;
  outline-style: none;
  width: 100%;
}

#register .review-container textarea::-webkit-scrollbar {
  display: none;
}

#register button {
  background: #fff;
  border: 1px solid #3a5485;
  cursor: pointer;
  outline-style: none;
  padding: 10px 0;
  width: 100%;
}

#register button:hover {
  background: #3a5485;
  color: #fff;
}

.page4 .comment-container {
  background: rgba(238, 238, 238, .4);
  border: 1px dotted #3a5485;
  margin-top: 30px;
  overflow-y: auto;
  padding: 30px;
  width: 75%;
}

.page4 .comment-container::-webkit-scrollbar {
  display: none;
}

.page4 .comment-container .comment {
  background: #fff;
  border: 1px solid #3a5485;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 30px;
  width: 70%;
}

.page4 .comment-container .comment:nth-of-type(odd) {
  float: right;
}

.page4 .comment-container .comment:nth-of-type(even) {
  float: left;
}

.page4 .comment-container .comment p {
  font-size: 1.1em;
  padding-bottom: 20px;
}

.page4 .comment-container .comment code {
  color: #999;
  padding-right: 5px;
}

.page4 .comment-container .comment span {
  color: #999;
  padding-left: 5px;
}

/* ------------------------------ js 활용 -------------------------- */
.non-active {
  display: none;
}

/* ------------------------------ media -------------------------- */
/* 미디어쿼리 분기점
420px maximum width: cover all smartphones in portrait mode
768px to 1023px: most Android tablets and iPads in portrait mode
1024px to 1365px: most Android tablets and iPads in landscape mode, older desktop/laptop monitors
1366px and above: iPad PRO, HDready and FullHD desktop laptop monitors
*/

@media (max-width: 1365px) {
  body {
    border: 1px solid #333;
  }

  .page0 .vid-container {
    top: 40px;
    width: 1228px;
  }

  .page0 .vid-container a {
    right: 5%;
    padding: 20px;
  }

  .page0 .vid-container a h1 {
    height: 150px;
    width: 400px;
  }

  .page0 .vid-container a h1 strong {
    font-size: 2.5em;
    letter-spacing: .1em;
  }

  .page0 .scroll {
    bottom: 10px;
  }

  /* ------------------------------ header -------------------------- */
  header {
    padding-top: 20px;
  }

  /* ------------------------------ page1 -------------------------- */
  .page1 .index {
    padding-bottom: 4vw;
  }

  .page1 .index a figcaption {
    width: 200px;
  }

  /* ------------------------------ page1 popup -------------------------- */
  .page1 .popup > div{
    height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }

  /* ------------------------------ page2 -------------------------- */
  .page2 .text {
    padding-bottom: 3vw;
  }

  .page2 .text h2 {
    padding-bottom: 3vw;
  }

  .page2 .text p {
    font-size: 1.1em;
  }

  .page2 .category {
    padding-bottom: 2vw;
  }

  /* ---------------------------- page2 popup gallery ------------------------ */
  .page2 .popup-gallery .pop-category h3 a {
    font-size: 1.2em;
  }

  .page2 .popup-gallery .pop-category h3 a.selected {
    font-size: 1.3em;
  }

  .page2 .popup-gallery .contents {
    justify-content: space-between;
  }

  .page2 .popup-gallery .text h3 {
    font-size: 1.2em;
    padding-bottom: 1vw;
  }

  /* ---------------------------- page3 ------------------------ */
  .page3 {
    border: 1px solid #f00;
  }

  .page3 .text span {
    padding-bottom: 5vw;
  }

  .page3 .text .index a {
    margin-bottom: 2vw;
  }

  /* ---------------------------- page3 popup------------------------ */
  .page3 .popup-detail > div {
    height: 80vh;
    justify-content: space-between;
    left: 50%;
    padding: 80px 100px 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }

  .page3 .popup-detail .pop-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
  }

  .page3 .popup-detail .pop-text h3 {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 100px;
    position: relative;
    text-align: right;
  }

  .page3 .popup-detail .pop-text h3:before {
    background: #3a5485;
    bottom: -60px;
    content: '';
    height: 3px;
    position: absolute;
    right: 0;
    width: 150px;
  }

  .page3 .popup-detail .pop-text h3 a span {
    font-size: 1.5rem;
    padding-left: 30px;
    text-transform: capitalize;
    transition: .5s;
  }

  .page3 .popup-detail .pop-text h3 a:hover span {
    color: #ccc5eb;
    letter-spacing: .3em;
  }

  .page3 .popup-detail .pop-text h3 a span.selected {
    font-weight: 600;
    letter-spacing: .3em;
  }

  .page3 .text-container {
    display: none;
    justify-content: space-between;
    padding-top: 200px;
    width: 100%;
  }

  .page3 .text-container.selected {
    display: flex;
  }

  .page3 .text-container p {
    padding-bottom: 50px;
    text-align: right;
    white-space: pre-line;
    width: 48%;
  }

  .page3 .text-container p strong {
    display: inline;
    font-size: 1.1em;
    font-weight: 600;
    text-align: right;
    white-space: pre-line;
  }

  .page3 .popup-detail .pop-img {
    position: relative;
    width: 30%;
  }

  .page3 .popup-detail .pop-img img {
    left: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 2s;
    width: 100%;
  }

  .page3 .popup-detail .pop-img img:nth-of-type(2) {
    opacity: 0;
  }

  .page3 .popup-detail div > a {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  /* ---------------------------- page4 ------------------------ */
  .page4 {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    padding: 100px 0 30px;
    width: 100%;
  }

  .page4 .notice {
    padding: 0 40px;
    width: 25%;
  }

  .page4 .notice h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding: 30px 0;
    position: relative;
  }

  .page4 .notice h2:before {
    background: #3a5485;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px
  }

  .page4 .notice > p {
    padding-bottom: 20px;
    white-space: pre-line;
  }

  .page4 .notice #register {
    width: 100%;
  }

  #register .user-info {
    padding-bottom: 20px;
    width: 100%;
  }

  #register .user-info tbody th {
    text-align: left;
    width: 15%;
  }

  #register .user-info tbody td input {
    outline-style: none;
    width: 100%;
  }

  #register .review-container {
    padding-bottom: 30px;
  }

  #register .review-container textarea {
    margin-bottom: 20px;
    outline-style: none;
    width: 100%;
  }

  #register .review-container textarea::-webkit-scrollbar {
    display: none;
  }

  #register button {
    background: #fff;
    border: 1px solid #3a5485;
    cursor: pointer;
    outline-style: none;
    padding: 10px 0;
    width: 100%;
  }

  #register button:hover {
    background: #3a5485;
    color: #fff;
  }

  .page4 .comment-container {
    background: rgba(238, 238, 238, .4);
    border: 1px dotted #3a5485;
    margin-top: 30px;
    overflow-y: auto;
    padding: 30px;
    width: 75%;
  }

  .page4 .comment-container::-webkit-scrollbar {
    display: none;
  }

  .page4 .comment-container .comment {
    background: #fff;
    border: 1px solid #3a5485;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 30px;
    width: 70%;
  }

  .page4 .comment-container .comment:nth-of-type(odd) {
    float: right;
  }

  .page4 .comment-container .comment:nth-of-type(even) {
    float: left;
  }

  .page4 .comment-container .comment p {
    font-size: 1.1em;
    padding-bottom: 20px;
  }

  .page4 .comment-container .comment code {
    color: #999;
    padding-right: 5px;
  }

  .page4 .comment-container .comment span {
    color: #999;
    padding-left: 5px;
  }

  /* ------------------------------ js 활용 -------------------------- */
  .non-visible {
    opacity: 0;
  }

  .non-active {
    display: none;
  }
}