// font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;
@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;900&display=swap);

@font-face { 
  font-family: 'sCoreDream';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  unicode-range: u+ac00-u+d7a3;
}

$hlColor: #efc050;
$bgColor: #2f3435;

* {
  box-sizing: border-box;
  color: $hlColor;
  font: 16px/1.5 'Kanit', 'sCoreDream', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a,
button,
code,
small,
span,
strong {
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
  background: $bgColor;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline-style: none;
  text-transform: uppercase;
}

figcaption {
  color: transparent;
  font-size: 9em;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(239, 192, 80, .4);
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 2vw;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid $hlColor;
  outline-style: none;
}

text {
  font-size: 7.5rem;
  font-weight: 700;
}

textarea {
  background: transparent;
  border: 1px solid $hlColor;
  font-weight: normal;
  outline-style: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #f00;
  color: #fff;
}