@import "_common";

@mixin setPosition($lftPos, $topPos, $x, $y) {
  left: $lftPos;
  position: absolute;
  top: $topPos;
  transform: translate($x, $y);
}

@mixin setBackImg($dir, $pos) {
  background: url($dir) no-repeat $pos;
}

$hlBorder: 1px solid $hlColor;


/*----------------------- load.html -----------------------*/
// .load {
//   align-items: center;
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   width: 100%;

//   p,
//   p span {
//     color: transparent;
//     font-size: 7.5rem;
//     font-weight: 700;
//     line-height: 1em;
//     text-transform: uppercase;
//     -webkit-text-stroke: 1px rgba(239, 192, 80, .4);
//     white-space: pre-line;

//     span {
//       letter-spacing: 1em;
//     }
//   }
// }

.load {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  svg {
    > text {
      font-size: 7.5rem;
      font-weight: 700;
    }  
    mask {
      
    }

    rect {
      transform: translateY(20%);
    }
  }
}

/*----------------------- header -----------------------*/
.header {
  display: flex;
  justify-content: space-between;
  left: 5%;
  padding-top: 2vw;
  position: fixed;
  top: 0;
  width: 90%;
  
  &__logo {

    a {
      font-size:1.25em;
      line-height: 1em;
      text-transform: uppercase;
      white-space: pre-line;

      span {
        font-size: inherit;
        letter-spacing: .9em;
      }
    }
  }
  
  &__btn {}
}

/*----------------------- index.html -----------------------*/
.main {
  height: 100vh;
  overflow-y: auto;
  padding: 0 15%;

  &::-webkit-scrollbar {
    display: none;
  }

  &__works {
    // display: none;
    height: 100vh;
    position: relative;
    width: 100%;

    .hidden {
      visibility: hidden;
    }

    &_contents {
      @include setPosition(0, 50%, 0, -50%);
      width: 100%;

      a {
        display: flex;
        align-items: flex-end;
        height: 350px;
        position: relative;
        width: 100%;

        figcaption {
          @include setPosition(0, 50%, 0, -50%);
          transition: .5s;
        }

        img {
          opacity: .7;
          position: absolute;
          right: 5%;
          top: 0;
          transition: .5s;
          width: 600px;
        }
      }

      &.selected a:hover{

        figcaption {
          transform: translateY(-50%) scale(1.1);
        }

        img {
          filter: grayscale(0);
          opacity: 1;
          transform: scale(1.3);
        }
      }

      p {
        font-size: 2rem;

        code {
          font-size: 2rem;
          padding-right: 30px;
        }

        code:last-of-type {
          padding-left: 30px;
        }
      }

      &.selected a figcaption {
        color: $hlColor;
        font-weight: 600;
        mix-blend-mode: difference;
        z-index: 10;
        -webkit-text-stroke: unset;
      }

      &.selected a img {
        filter: grayscale(1);
      }
    }

    &_contents:nth-of-type(2) {
      top: 100%;
    }

    &_contents:nth-of-type(3) {
      top: 0;
    }
  }

  &__about {
    border: 1px solid $hlColor;
    display: none;
    width: 100%;

    &.active {
      display: block;
    }

    .container {
      padding-bottom: 6vw;
    }

    &_profile {
      height: 400px;
      margin-bottom: 5vw;
      position: relative;
      width: 100%;

      h3 {
        @include setPosition(25%, 30%, 0, 0);
        font-size: 3.4em;
        font-weight: 600;
        letter-spacing: .3em;
        mix-blend-mode: difference;
        text-align: center;
        text-transform: uppercase;
        z-index: 10;
      }

      span {
        @include setPosition(75%, 60%, 0, 0);
        font-size: 1.5em;
        mix-blend-mode: difference;
        text-transform: capitalize;
        white-space: pre-line;
        z-index: 10;
      }

      img {
        @include setPosition(50%, 10%, 0 , 0);
      }
    }

    &_contacts {
      display: flex;
      justify-content: space-between;
      width: 100%;

      article:nth-of-type(1) {
        border: 1px solid #fff;
        width: 250px;

        a {
          display: block;
          padding: 5px 0 0 50px;
        }

        $url: (1:'../img/ic_email.png', 2:'../img/ic_linkedin.png', 3:'../img/ic_github.png');
        @each $i, $v in $url {
          a:nth-of-type(#{$i}) {
            @include setBackImg(#{$v}, left);
          }
        }
      }

      article:nth-of-type(2) {
        border: 1px solid #fff;
        text-align: right;
        width: 54%;
      }
    }

    &_education {
      p {
        align-items: flex-end;
        display: flex;
        padding: 1vw 0;
        
        strong {
          font-size: 1.1rem;
          padding-right: 1.5vw;
        }

        span {
          padding-right: 1.5vw;
        }
      }
    }

    &_skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      h3 {
        width: 100%;
      }

      > div {
        width: 49%;
      }
    }
  }
}

/*----------------------- detail.html -----------------------*/
.detail {
  height: 100vh;
  width: 100%;

  &__visual {
    position: relative;
    width: 100%;

    &:before {
      @include setPosition(0, 0, 0, 0);
      background: $bgColor url(../img/detail/img_back.jpg) no-repeat top;
      background-blend-mode: exclusion;
      content: '';
      height: 100%;
      opacity: .3;
      width: 100%;
      z-index: -10;
    }

    h3 {
      font-size: 2em;
      padding: 8vw 15% 2vw;
      text-transform: unset;

      small {
        padding-left: 30px;
      }
    }

    span {
      background: rgba(239, 192, 80, .3);
      display: flex;
      justify-content: center;
      padding: 4vw 0;
      width: 100%;
    }
  }

  &__description {
    padding: 7vw 0;
    text-align: center;
    width: 100%;

    h4 {
      font-size: 2em;
      font-weight: 400;
      padding-bottom: 4vw;
      text-transform: uppercase;
    }

    span {
      padding-bottom: 4vw;
    }

    p {
      padding-bottom: 4vw;
      white-space: pre-line;
    }

    a {
      position: relative;

      &:before {
        @include setPosition(50%, 50%, 0, 0);
        border-left: $hlBorder;
        border-right: $hlBorder;
        content: '';
        height: 70%;
        transform: skewX(-10deg) translate(-52%, -50%);
        transition: .5s;
        width: 100%;
      }

      span {
        font-size: 1.25em;
        padding: 1.5vw 4vw;
        transition: .5s;
      }
    }

    a:hover {
      &:before {
        background: $hlColor;
      }

      span {
        mix-blend-mode: exclusion;
      }
    }
  }

  &__preview {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    img {}

    &_btn {
      display: flex;
      justify-content: space-between;
      margin: 7vw 5vw;
      padding: 0 15%;
      position: relative;
      text-align: center;
      width: 100%;

      a {
        text-transform: uppercase;
      }

      a,
      button {
        font-size: 1.25rem;
        padding: 1vw 0;
        transition: .5s;
        width: 30%;

        &:hover {
          letter-spacing: .3em;;
        }
      }
    }

    &_btn:before {
      @include setPosition(50%, 50%, 0, 0);
      border-left: $hlBorder;
      border-right: $hlBorder;
      content: '';
      height: 70%;
      transform: skew(-10deg) translate(-50%, -50%);
      width: 20%;
      z-index: -10;
    }
  }
}

/*----------------------- aside -----------------------*/
.aside {
  &__modal {
    display: none;
    background: $bgColor;
    border: 1px solid $hlColor;
    border-radius: 10px;
    bottom: 4vw;
    position: absolute;
    right: 7%;

    &.active {
      display: flex;
    }

    &_to {
      border-right: 1px solid $hlColor;
      overflow: hidden;
      padding: 3vw 2vw 3vw 3vw;
      position: relative;

      h3 {
        bottom: 30px;
        font-size: 3rem;
        line-height: 1;
        mix-blend-mode: exclusion;
        position: absolute;
        right: 2vw;
        text-align: right;
        text-transform: uppercase;
        white-space: pre-line;
      }

      &:before {
          background: $hlColor;
          bottom: 100px;
          content: '';
          height: 150px;
          left: -100px;
          position: absolute;
          transform: rotate(-15deg);
          width: 200%;
        }

      p {
        display: flex;
        flex-direction: column;
        font-size: .9em;
      
        strong {
          font-size: 1.25rem;
          text-transform: uppercase;
        }
      }
    }

    &_from {
      padding: 3vw 5vw;

      form {}

      p {
        display: flex;
        flex-direction: column;
        padding-bottom: 1vw;

        label {
          font-size: 1.25rem;
          text-transform: uppercase;        
        }

        input {}          
        textarea {
          margin: .5vw 0 2vw;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      p:last-of-type {
        padding-bottom: 0;
        position: relative;
        text-align: center;

        input {
          border: none;
          cursor: pointer;
          font-size: 1.25rem;
          padding: 5px 0;
          position: relative;
          text-transform: uppercase;
          transition: .5s;
        }
      }

      p:last-of-type:before {
        @include setPosition(50%, 50%, 0, 0);
        border-left: $hlBorder;
        border-right: $hlBorder;
        content: '';
        height: 100%;
        transform: skewX(-10deg) translate(-52%, -50%);
        transition: .5s;
        width: 70%;
      }

      p:last-of-type:hover {
        input {
          mix-blend-mode: exclusion;
        }
        
        &:before {
          background: $hlColor;
        }
      }
    }
  }

  &__btn {
    background: url(../img/ic_message.png) no-repeat center;
    bottom: 1.5vw;
    height: 40px;
    right: 5%;
    position: fixed;
    width: 40px;
  }
}

/*----------------------- footer -----------------------*/
footer {
  bottom: 1.5vw;
  left: 5%;
  position: fixed;

  p {
    font-size: .6rem;
    white-space: pre-line;

    span {
      font-size: .6rem;
      letter-spacing: .3em;
    }
  }
}







/*-----------------------------------------------------*/
/*----------------------- media -----------------------*/
/*-----------------------------------------------------*/
@media (max-width: 1024px) {}
@media (max-width: 420px) {}