@import "_common";

@mixin setPosition($lftPos, $topPos, $x, $y) {
  left: $lftPos;
  position: absolute;
  top: $topPos;
  transform: translate($x, $y);
}

body {}

.header {
  display: flex;
  justify-content: space-between;
  left: 5%;
  padding-top: 2vw;
  position: fixed;
  top: 0;
  width: 90%;
  
  &__logo {
    a {
      font-size:1.25em;
      text-transform: uppercase;
      white-space: pre-line;
      span {
        font-size:1.25rem;
        letter-spacing: .9em;
      }
    }
  }
  
  &__btn {}
}

.main {
  height: 100vh;
  overflow-y: auto;
  padding: 0 15%;

  &::-webkit-scrollbar {
    display: none;
  }

  &__works {
    height: 100%;
    position: relative;
    width: 100%;
    .hidden {
      visibility: hidden;
    }
    &_contents {
      @include setPosition(0, 50%, 0, -50%);
      width: 100%;
      a {
        display: flex;
        align-items: flex-end;
        height: 350px;
        position: relative;
        width: 100%;
        figcaption {
          @include setPosition(0, 50%, 0, -50%);
          transition: .5s;
        }
        img {
          opacity: .7;
          position: absolute;
          right: 5%;
          top: 0;
          transition: .5s;
          width: 600px;
        }
      }
      & a:hover{
        figcaption {
          transform: translateY(-50%) scale(1.1);
        }
        img {
          filter: grayscale(0);
          opacity: 1;
          transform: scale(1.3);
        }
      }
      p {
        font-size: 2rem;
        code {
          font-size: 2rem;
          padding-right: 30px;
        }
        code:last-of-type {
            padding-left: 30px;
          }
      }
      &.selected figcaption {
        color: $hlColor;
        mix-blend-mode: difference;
        z-index: 10;
        -webkit-text-stroke: unset;
      }
      &.selected img {
        filter: grayscale(1);
      }
    }
    &_contents:nth-of-type(2) {
      top: 100%;
    }
    &_contents:nth-of-type(3) {
      top: 0;
    }
  }

  &__about {
    display: none;

    &.active {
      display: block;
    }
  }

}

.aside {
  bottom: 1.5vw;
  right: 5%;
  position: fixed;
  text-align: right;
  &__modal {
    display: none;
    &.active {
      display: block;
    }
  }
  &__btn {
    background: url(../img/ic_message.png) no-repeat center;
    height: 40px;
    width: 40px;
  }
}

footer {
  bottom: 1.5vw;
  left: 5%;
  position: fixed;
  p {
    font-size: .6rem;
    white-space: pre-line;
    span {
      font-size: .6rem;
      letter-spacing: .3em;
    }
  }
}